.chat-side
  .side-header
    .side-header__box
      .side-header__box__user-name
        = current_user.name
      .side-header__box__menu
        = link_to new_group_path, class: "side-header__box__menu__new-group" do
          = fa_icon 'edit'
        = link_to edit_user_path(current_user), class: "side-header__box__menu__edit-user" do
          = fa_icon 'cog'
                  
  .groups
    .group
      .group__group-name あああああああああ
      .group__latest-message まだメッセージがありませ
    .group
      .group__group-name aaaaaaaa
      .group__latest-message まだメッセージがありません
    .group
      .group__group-name あ
      .group__latest-message a
    .group
      .group__group-name その場で回転
      .group__latest-message ああああああああああああああああああああああああ
