.chat-main
  .main-header
    .main-header__left-box
      .main-header__left-box__current-group  aaaaaaaa
      .main-header__left-box__member-list
        Member：
        .main-header__left-box__member-list__member てるたか
    .main-header__edit-btn
      = link_to "Edit",edit_group_path(@group)
  .messages
    .message 
      .message__upper-info
        .message__upper-info__talker てるたか
        .message__upper-info__date 2019/06/17(Mon) 12:23:25
      .message__text aaaaaaaaa
    .message
      .message__upper-info
        .message__upper-info__talker てるたか
        .message__upper-info__date 2019/06/17(Mon) 12:23:30
      .message__text tanaka
    .message
      .message__upper-info
        .message__upper-info__talker てるたか
        .message__upper-info__date 2019/06/17(Mon) 12:23:34
      .message__text kakakak
            
  .form
    = form_for [@group, @message] do |f|  
      .input-box
        = f.text_field :body, class: "input-box__text", placeholder: "type a message"    
        = f.label :image, class: "input-box__image" do
          = fa_icon 'image'
          = f.file_field :image, class: "hidden"
            
      =f.submit "Send", class: "form__submit"