.chat-main
  .main-header
    .main-header__left-box
      .main-header__left-box__current-group
        = @group.name
      .main-header__left-box__member-list
        Member：
        .main-header__left-box__member-list__member
          - @group.users.each do |user|
            = user.name
    %a{href:"/groups/#{@group.id}/edit",class: "main-header__edit-btn"}Edit
  .messages
    = render @messages
    
  .form
    = form_for [@group, @message] do |f|  
      .input-box
        = f.text_field :body, class: "input-box__text", placeholder: "type a message"    
        = f.label :image, class: "input-box__image" do
          = fa_icon 'image'
          = f.file_field :image, class: "hidden"
            
      =f.submit "Send", class: "form__submit"